airflow/logs
airflow/dags/data_ingestion_youtube.py
airflow/dags/ingest_youtube.py
airflow/dags/__pycache__/data_ingestion_bgg.cpython-37.pyc
airflow/dags/__pycache__/data_ingestion_youtube.cpython-37.pyc
airflow/dags/boardgamescraper/boardgames_2022-07-09.csv
airflow/dags/boardgamescraper/boardgames_2022-07-09.parquet
airflow/dags/boardgamescraper/boardgamescraper/__pycache__/__init__.cpython-37.pyc
airflow/dags/boardgamescraper/boardgamescraper/__pycache__/settings.cpython-37.pyc
airflow/dags/boardgamescraper/boardgamescraper/spiders/__pycache__/__init__.cpython-37.pyc
airflow/dags/boardgamescraper/boardgamescraper/spiders/__pycache__/boardgamespider.cpython-37.pyc
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/.terraform/terraform.tfstate
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/4.27.0/linux_amd64/terraform-provider-google_v4.27.0_x5
airflow/dags/boardgamescraper/boardgames_2022-07-10.csv
airflow/dags/boardgamescraper/boardgames_2022-07-10.parquet
airflow/dags/boardgamescraper/gamesprices_2022-07-10.csv
airflow/dags/boardgamescraper/gamesprices_2022-07-10.parquet
airflow/dags/boardgamescraper/boardgamescraper/__pycache__/__init__.cpython-39.pyc
airflow/dags/boardgamescraper/boardgamescraper/__pycache__/settings.cpython-39.pyc
airflow/dags/boardgamescraper/boardgamescraper/spiders/__pycache__/__init__.cpython-39.pyc
airflow/dags/boardgamescraper/boardgamescraper/spiders/__pycache__/boardgamespider.cpython-39.pyc
airflow/dags/__pycache__/pricetracker.cpython-37.pyc
airflow/dags/boardgamescraper/boardgames_2022-07-11.csv
airflow/dags/boardgamescraper/boardgames_2022-07-11.parquet
airflow/dags/boardgamescraper/gamesprices_2022-07-11.csv
airflow/dags/boardgamescraper/gamesprices_2022-07-11.parquet
airflow/.env
